.section-price {
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;

    @include bgImage ('./../img/bg/price-bg.jpg');

    &::before {
        @extend %overlay;
    }

     /* Tablet */
     @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 50px;

        @include bgImage ('./../img/bg/price-bg-900.jpg');
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-bottom: 40px;

        @include bgImage ('./../img/bg/price-bg-600.jpg');
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-top: 40px;

        @include bgImage ('./../img/bg/price-bg-320.jpg');
    }
}

.section-price__content {
    position: relative;
    z-index: 7;

    .title,
    .subtitle {
        color: #fff;
    }
}

.section-price__header {
    margin-bottom: 80px;
    text-align: center;

     /* Tablet */
     @media (max-width: 1199px) {
        margin-bottom: 50px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 40px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
    }
}

.section-price__title {
    margin-bottom: 40px;

     /* Tablet */
     @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    /* Mobile */
    @media (max-width: 899px) {
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}

.section-price__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 30px;

     /* Tablet */
     @media (max-width: 1199px) {
    }

    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        row-gap: unset;
    }
}